body{
    background-color: white;
    color: black;
    border: 12px 50px 90px 10px;
}
p {
    text-decoration: underline;
    font-family: 'Papyrus', sans-serif;
    text-align: center;
    font-size: 150px ;
    
}

img {
    width: 400px;
    height: 400px;
    border-left: 50px;
}

h2 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

ul{ 
    text-align: center;
}