body {
    background-color:#34495E;
    text-align: center;
    color:#F4D03F ;
    font-family:monospace;
}

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

a{
    color:#112A46
    
}

h3 {
    font-style: italic;
}

a:link {
    color: #1ABC9C
}

a:visited {
    color:#16A085
}

a:hover {
    color:#76D7C4
}
nav {
    display: inline-block;
}
.dropdown {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
  
.dropdown .dropbtn {  
    background-color: inherit;
    border: none;
    font-family: inherit;
    text-decoration: underline;
    margin: 0;
    vertical-align: middle;
    color: #1ABC9C;
}

.dropdown-content {
    background-color: #f9f9f900;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
    
}
  
.dropdown-content a {
    color: inherit;
    display: block;
    float: none;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
}
  
.dropdown-content a:hover {
    background-color: #34495E;
    color: white;
}


.dropbtn:hover {
    color: #76D7C4;
}
  
.dropdown:hover .dropdown-content {
    background-color: #34495E;
    display: block;
}

table, th, td {
    border: 1px solid black;
  
}

.complex {
    width: 100%;
}

 tr:nth-child(even) {
    background-color:#0075A2 ;
}

tr:nth-child(odd) {
    background-color: #481620;
}

tr:first-child, th:first-child, tr:last-child {
    background-color: transparent;
    color: inherit;
}

tr:first-child {
    color:#0F1108
}


input {
    margin: 5px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

label {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 5px;
}

.radio {
    display: inline-flex;
}

.check{
    display: inline-flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
select{
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
}
.button {
    margin-bottom: 5px;
    background-color: darkcyan;
    color:pink;
}

@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color:orange;
    }
}

@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color:red;
    }
}