body {
    background-color:darkslategrey;
    text-align: center;
    color:forestgreen ;
    font-family:monospace;
}

a{
    color:cornsilk
    tex
}

h3 {
    font-style: italic;
}

a:link {
    color: black
}

a:visited {
    color:white
}

a:hover {
    color:blueviolet
}
nav {
    display: inline-block;
}
.dropdown {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
  
.dropdown .dropbtn {  
    background-color: inherit;
    border: none;
    font-family: inherit;
    text-decoration: underline;
    margin: 0;
    vertical-align: middle;
}

.dropdown-content {
    background-color: #f9f9f900;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
    
}
  
.dropdown-content a {
    color: inherit;
    display: block;
    float: none;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
}
  
.dropdown-content a:hover {
    background-color: blueviolet;
    color: white;
}

.dropbtn:hover {
    color: lightcoral;
}
  
.dropdown:hover .dropdown-content {
    background-color: #e6d7ff;
    display: block;
}
