body {
    background-color:#34495E;
    text-align: center;
    color:#F4D03F ;
    font-family:monospace;
}

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

a{
    color:#112A46
    
}

h3 {
    font-style: italic;
}

a:link {
    color: #1ABC9C
}

a:visited {
    color:#16A085
}

a:hover {
    color:#76D7C4
}
nav {
    display: inline-block;
}
.dropdown {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin: 0;
    font-size: 14px;
    
}
  
.dropdown .dropbtn {  
    background-color: inherit;
    border: none;
    font-family: inherit;
    margin: 0;
    vertical-align: middle;
    color: #1ABC9C;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-content {
    background-color: #f9f9f900;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
    
}
  
.dropdown-content a {
    color: inherit !important;
    display: block !important;
    padding: 10px 12px !important;
    text-align: center !important;
    text-decoration: none !important;
    margin-bottom: 8px !important;
}


.dropdown-content a:hover {
    background-color: #34495E !important; 
    color: white !important; 
}



.dropbtn :hover {
    color: #76D7C4;
}
  
.dropdown:hover .dropdown-content {
    background-color: #34495E;
    display: block;
}

#menu-container {
    display:inline-flex;
    gap: 20px;
    align-items: center;
    
}

#menu-container .menu-item {
    color:#1ABC9C;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 2px;
    font-size: 14px;
}

#menu-container .menu-item:hover{
    color:#76D7C4;
}
#menu-container .menu-item:visited{
    color:#16A085;
}
table, th, td {
    border: 1px solid black;
  
}

.complex {
    width: 100%;
}

 tr:nth-child(even) {
    background-color:#0075A2 ;
}

tr:nth-child(odd) {
    background-color: #481620;
}

tr:first-child, th:first-child {
    background-color: transparent;
    color: inherit;
}

tr:first-child {
    color:#0F1108
}


input {
    margin: 5px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

label {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 5px;
}

.radio {
    display: inline-flex;
}

.check{
    display: inline-flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
select{
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
}
.button {
    margin-bottom: 5px;
    background-color: darkcyan;
    color:pink;
}

@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color:orange;
    }
}

@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color:red;
    }
}

.intro_pic {
    width: 15%;
    height: 15%;
}

ul {
    text-align: left;
}

.box {
    border: solid #F4D03F 2px;
    margin-bottom: 50px;
    padding: 10px;
    padding-top: 0;
}
.slides {
    position: relative;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
  position: relative;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideTitle {
    color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 16.66%;
}
.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
img {
  display: inline;
  width: 90%;
  margin-bottom: 10px;
}
.caption {
    display: inline-block;
}