<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/skorenst/">Charlotte.edu</a>
        <a href="https://github.com/skorenstein">GitHub.com ~</a>
        <a href="https://skorenstein.github.io">GitHUb.io ~</a>
        <a href="https://www.linkedin.com/in/stephen-korenstein-a4024014b/">LinkedIn ~</a>
        <a href="../index.html">ITIS3135</a>
        <p class="built"> Page built by <a href="skenterprise.us\index.html">SK Enterprises  &copy</a>, <a href="https://www.freecodecamp.org/certification/skorenstein/javascript-algorithms-and-data-structures-v8">Certified in JS</a></p>

        <a href="https://validator.w3.org/check?uri=referer">
            <img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
           </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
             </a>
           
    </nav>
</footer>