<header>
    <h1>Stephen Korenstein's Sleek Koala  || ITIS3135 Home</h1>
    <nav>
        <a href="https://webpages.charlotte.edu/skorenst/">Home</a>
        ||
        <a href="introduction.html">Introduction</a>
        ||
        <a href="contract.html">Contract</a>
        ||
        <a href="about.html">About</a>
        ||
        <a href="website_evaluations.html">Website Evaluation</a>  
    </nav>
    <nav>
        <a href="itis3135\stuff\CR AP PY &.htm"></a>
    </nav>
    <h3>Your one-stop shop for any and all Overwatch coaching
    </h3>
</header>
