<header>
    <h1>Stephen Korenstein's Sleek Koala  || ITIS3135 Home</h1>
    <nav>
        <a href="https://webpages.charlotte.edu/skorenst/">Home</a>
        ||
        <a href="introduction.html">Introduction</a>
        ||
        <a href="contract.html">Contract</a>
        ||
        <a href="itis3135\about.html">About</a>
        ||
        <div class="dropdown">
            <button class="dropbtn"><u>Exercises ⇓</u></button>
            <div class="dropdown-content">
                <a href="itis3135\website_evaluations.html">Website Evaluation</a>
                <a href="itis3135/stuff/CRAPPY.htm">CRAPPY WEBSITE</a>
                <a href="itis3135/tables.html">Activity 2</a>
            </div>
        </div>
        <h3>Your one-stop shop for any and all Overwatch coaching
        </h3>
    </nav>
</header>